/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 May 2020, 18:39:08
    Author     : meni
*/

.wrap {
    margin-top: 50px;
}

.nav li > form > button.logout {
    padding: 15px;
    border: none;
}