/**
 * Social Share CSS
 * @Author Meni Nuriel
 */

div.social-share {
    position: relative;
    direction: rtl;
}

div.social-share .outer {
    overflow: hidden;
    border-radius: 100px;
    box-shadow: 0 10px 50px 0 #bbe4e8;
    display: flex;
    justify-content: flex-end;
    background: #fff;
    display: none;
    padding-right: 40px;
}

div.social-share .inner {
    background-color: #fff;
    border-radius: 100px;
    display: flex;
    justify-content: flex-end;
    padding: 4px 8px;
}

div.social-share .inner > .social-images {
    display: flex;
    justify-content: flex-start;
}

div.social-share .inner > .social-images > img {
    cursor: pointer;
}

div.social-share > img.social-toggle {
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 4px;
}