/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 2, 2019, 12:14:26 AM
    Author     : Nurielmeni
*/
.memad-search-wrapper form.row {
    margin: 0;
}

.memad-search-wrapper form .form-group {
    min-width: 266px;
}

.memad-search-wrapper input, .memad-search-wrapper select {
    height: 43px;
    width: 236px !important;
    margin-left: 10px;
    margin-right: 10px;
}

.form-group label {
    height: 43px;
    line-height: 43px;
    font-size: 20px;
    font-weight: 300;
}

section.header .memad-search-wrapper {
    width: 100%;
    bottom: 10px;
    position: relative;
}

section.header .memad-search-wrapper form {
    padding-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

section.header .memad-search-wrapper.inline {
    position: absolute;
}

.memad-search-wrapper button[type="submit"] {
    width: calc(100% - 30px);
    min-width: 236px;
}

@media (max-width: 880px) {
    section.header .memad-search-wrapper form {
        width: 240px;
    }
    
    section.header .memad-search-wrapper.inline {
        position: relative;
    }
    
    .form-group.flex.field-searchform-location {
        display: block;
    }
}