/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 2, 2019, 12:14:26 AM
    Author     : Nurielmeni
*/
div.memad-logo-nav-wrap {
    display: flex;
    justify-content: space-between;
    width: 230px;;
}

div.memad-logo-nav-wrap > div.bg > img {
    width: 56px;
}

div.memad-logo-nav-wrap > div.memad-logo-nav {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

div.memad-logo-nav-wrap > div.memad-logo-nav > span:first-of-type {
    font-size: 30px;
}

div.memad-logo-nav-wrap > div.memad-logo-nav > span:last-of-type {
    font-size: 16px;
    font-weight: bold;
}