/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 2, 2019, 12:14:26 AM
    Author     : Nurielmeni
*/

.memad-employee-wrapper {
    width: 320px;
}

.panel.panel-default {
    border-radius: 14px;
}

.memad-employee-wrapper .panel-heading {
    height: 200px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.memad-employee-wrapper .panel-body {
    height: 200px;
    color: #004374;
    font-size: 18px;
}

.memad-employee-wrapper .panel-body .name {
    font-size: 30px;    
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
}

.memad-employee-wrapper .panel-body .job-title {
}

.memad-employee-wrapper .panel-body .description {
    color: #888888;
    overflow: scroll;
    text-overflow: ellipsis;
    max-height: 100px;
}
.memad-employee-wrapper .actions > a {
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 22px;
    font-weight: bold;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}

.memad-employee-wrapper .actions > a:hover {
    color: #004374;
}