/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 2, 2019, 12:14:26 AM
    Author     : Nurielmeni
*/

.memad-job-wrapper {
    padding-bottom: 1.5em;
    color: #004374;
}

.memad-job-wrapper .panel.panel-default {
    border-radius: 14px;
    border: 12px solid #effcff;
}

.memad-job-wrapper .panel-default > .panel-heading {
    background-color: transparent;
    border: none;
}

.memad-job-wrapper .panel-default > .panel-heading .job-title {
    margin: 5px 0;
    text-decoration: underline;
}

.memad-job-wrapper .panel-default > .panel-heading .update-date {
    color: #888888;
}

.memad-job-wrapper .panel-footer {
    background-color: #effcff;
    border-top: none;
    padding: 20px 0 6px;
}


@media (min-width: 1318px) and (max-width: 1380px) {
    /* Fix for social share */
    .memad-job-wrapper .actions .btn.memad3 {
        padding: 0 20px;
    }
}

@media (min-width: 914px) and (max-width: 950px) {
    /* Fix for social share */
    .memad-job-wrapper .actions .btn.memad3 {
        padding: 0 20px;
    }
}

@media (max-width: 530px) {
    /* Fix for social share */
    .memad-job-wrapper .actions .btn.memad3 {
        padding: 0 20px;
    }

    main .site-jobs section.job-list {
        padding-left: 15px;
        padding-right: 15px;
    }
}